<h1>Attractions</h1>

<table>
  <tr>
    <th style="padding-right: 300px"><strong>Name</strong></th>
    <th style="padding-right: 10px"><strong>Tickets</strong></th>
    <th><strong>Details</strong></th>
  </tr>
  <%= render(@attractions) || "No Attractions" %>
</table>

<p><%= link_to "New Attraction", new_attraction_path %></p>